/* Generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;;
    font-size: 16px;
    color: #fff;
}

/* WRAPPER */
#wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

    /* TOP-BAR */
    #top-bar {
        display: flex;
        justify-content: flex-end;
        height: 80px; 
        width: 100%;

    }

        .btn {
            margin: 0 5px;
            padding: 4px;
            border-radius: 5px;
            background-color: rgba(211, 211, 211, 0.788);
        }

    /* AREA WEBCAMS */
    #cam-area {
        overflow-y: auto;
        height: calc(100% - 180px);
        width: 80%;
        margin: 10px auto;
    }

        /* row */
        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

            /* blocco webcam */
            .cam-block {
                height: 20%;
                margin: 20px 5px;
                position: relative;
            } 

                .cam-block img {
                    min-height: 100%;
                }
                
                /* label */
                .muted {
                    padding: 5px 3px;
                    background-color: rgba(128, 128, 128, 0.5);
                    position: absolute;
                    left: 0;
                    bottom: 5px;
                }
        
        /* BOTTOM-BAR */
        #bottom-bar {
            display: flex;
            justify-content: space-between;
            height: 100px;
            width: 100%;
            /* DEBUG */
            background-color: rgba(36, 35, 35, 0.801);
        }

            .green {
                color: limegreen;
            }

           .fondo {
                display: flex;
                align-items: center;
           }

            .icons {
                font-size: 40px;
            }

            .uno {
                width: 10%;
                justify-content: flex-start; 
            }

            .due {
                width: 40%;
                justify-content: center;
                justify-content: space-around;   
            }

            .tre {
                justify-content: center;
                width: 10%;
                color: red;
                background-color: rgba(85, 84, 84, 0.801);;
            }

                